@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/* Variables for effective styling */
:root {
    --bg-main-color: #aaaaaa;
    --transparent-strip-color: rgba(0, 0, 0, 0.75);
    --accent-color: orange;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
  }

/* Override wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main-color);
}

h1, h2, h3, h4 {
    font-family: "Kdam Thmor Pro", sans-serif;
}

h2 {
    margin: 10px auto;
}

h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin: 6px 0 10px 0;
}

p, a, li, label {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.section-heading {
    font-size: 250%;
    text-align: center;
    color: var(--accent-color);
}

.section-subheading {
    text-align: center;
    color: var(--light-text-color);
}

.small-text {
    font-size: 90%;
}

/* Apply black text shadow */
.blk-textshadow {
    text-shadow: 0 0 10px var #000000;
}

/* Flex linebreak */
.flex-break {
    flex-basis: 100%;
    height: 0;
}

/* Header */

header {
    background: linear-gradient(320deg, #aaaaaa 0%, #7777dd 75%);
    position: relative;
    height: 30vh;
    min-height: 30vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 250%;
    color: var(--accent-color);
    padding-top: 50px;
    margin: 0 10px;
}

/* Navbar */
nav {
    width: 100%;
    margin: auto;
    padding: 5px 20px 10px 20px;
    position: absolute;
    top: 0;

    background-color: var(--transparent-strip-color);
    display: none;
    z-index: 11;
}

#menu {
    list-style-type: none;
    font-size: 150%;
    align-items: center;
}

#menu a {
    color: var(--light-text-color);
    text-decoration: none;
    line-height: 3rem;
    height: auto;
}

#menu a:hover, #menu a:focus {
    color: var(--accent-color);
}

/* Navbar toggle button */
#navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    color: var(--accent-color);
    background-color: var(--transparent-strip-color);
    font-size: 1.75rem;
    text-align: center;
    padding: 1px 5px;
    border-radius: 25%;
    right: 20px;
    top: 80%;
    position: absolute;
    z-index: 12;
}

#navbar-toggle:checked~nav {
    display: block;
    z-index: 10;
}

/* Hero image slides*/

.hero-images {
    display: flex;
    width: 300vw;
    position: absolute;
    transition: all .5s ease-out;
    z-index: 0;
}

.hero-images .hero-img {
    height: 30vh;
    min-height: 30vh;
    width: 300vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* These are the slides */
.hero-images .hero-img:nth-child(1){
    background: url(../images/empty-gym.jpg) no-repeat center center/cover;;
}

.hero-images .hero-img:nth-child(2){
    background-color: blue;
}

.hero-images .hero-img:nth-child(3){
    background-color: green;
}

/* Logic for clicking dots to change slides */
.slide-dots input:nth-child(1):checked ~ .hero-images {
    left: 0vw;
}

.slide-dots input:nth-child(2):checked ~ .hero-images {
    left: -100vw;
}

.slide-dots input:nth-child(3):checked ~ .hero-images {
    left: -200vw;
}

/* Hide Radio buttons to show custom dots (labels) */
.slide-dots input {
    visibility: hidden;
    display: none;
}

.labels {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.labels label {
    height: 15px;
    width: 15px;
    background-color: var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 8px 8px #000000;
}

/* Make dot labels act like radio buttons */
.slide-dots input:nth-child(1):checked ~ .labels label:nth-child(1),
.slide-dots input:nth-child(2):checked ~ .labels label:nth-child(2),
.slide-dots input:nth-child(3):checked ~ .labels label:nth-child(3) {
    background-color: var(--light-text-color);
}

/* Main */

main {
    position: relative;
    background: linear-gradient(320deg, #aaaaaa 0%, #444444 75%);
}

/* Selling points */
#points {
    flex-flow: column;
    align-items: center;
}

.sales-point {
    background: linear-gradient(320deg, #aaaaaa 0%, #5e5e7d 75%);
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    z-index: 1;
    margin: 2px;
    border-radius: 8px;
}

.sales-point i {
    font-size: 3em;
}

/* Move icon to other side */
.odd {
    flex-direction: row-reverse;
}

/* Owner Section */
.owner-section{
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

/* Pricing table */
#pricing {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#pricing p {
    text-align: center;
    padding: 5px;
    margin: 0 10%;
    color: var(--light-text-color)
}

table {
    background-color: #aaaaaa;
    border: 1px solid;
    padding: 4px;
    border-radius: 8px;
    width: 90%;
}

th, td {
    font-family: "Kdam Thmor Pro", sans-serif;
    padding: 2px;
    text-align: left;
}

th {
    background-color: var(--transparent-strip-color);
    color: var(--light-text-color);
    border-radius: 4px;
}

/* Sign-up form */
#signup-form {
    flex-direction: column;
    align-items: center;
    margin: 16px 10%;
    gap: 10px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px 10px;
}

#signup-form input,
#signup-form select {
    line-height: 150%;
    border: none;
    border-radius: 12px;
    padding: 8px;
}

#signup-form label {
    align-self: center;
    text-align: center;
    margin-bottom: 4px;
}

form div {
    display: flex;
    flex-direction: column;
}

#join-agree {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#join-agree > * {
    width: 50%;
}

button {
    font-size: 150%;
    background-color: var(--accent-color);
    border: none;
    border-radius: 12px;
    line-height: 200%;
}

button:hover {
    color: var(--light-text-color);
}

/* Gym rules */
#rules {
    flex-direction: column;
    margin: 16px 10%;
    padding: 16px;
    background-color: var(--accent-color);
    border-radius: 25px 4px 25px 4px;
    gap: 10px 20px;
}

#rules ul {
    padding-left: 16px;
}

#rules p {
    margin: 0 16px;
    text-align: center;
}

/* Features */

#features {
    flex-direction: column;
    width: 95%;
    margin: 10px auto 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#features > p {
    padding: 0 10% 10px 10%;
}

.feature-segment {
    background: linear-gradient(320deg, #444444 0%, #aaaaaa 75%);
    border-radius: 25px;
    width: 100%;
    padding: 25px;
}

.feature-segment ul {
    padding-left: 20px;
}

#shop {
    width: 100%;
}

/* Events */

#event-boxes {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 5%;
    gap: 16px;
}

#event-boxes > div {
    background-color: blue;
    width: 80%;
    height: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color)
}

#event-schedule {
    width: 80%;
    margin: 0 auto 20px;
    padding: 16px;
    background-color: blue;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: var(--transparent-strip-color);
    padding: 10px 20px;
    bottom: 0px;
}

#footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 200%;
    color: var(--accent-color);
    text-decoration: none;
    padding-right: 16px;
}

footer p {
    color: var(--light-text-color);
    margin-top: 10px;
    font-size: 90%;
}

#social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
    align-items: center;
    padding-top: 0.5em;
    padding-right: 60px;
}

#social-icons a {
    color: var(--light-text-color);
    font-size: 1.5em;
}

#social-icons a:hover,
#social-icons a:focus {
    color: var(--accent-color);
}

/* Media query: (480px and up) */
@media screen and (min-width: 480px) {
    .section-subheading {
        font-size: 200%;
    }

    /* General Styling */
    h1 {
        font-size: 300%;
    }

    /* Features */

    #features {
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .feature-segment {
        width: 48%;
    }

    /*Events */

    #event-boxes {
        flex-direction: row;
    }
}

/* Media query: (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Header */
    header {
        min-height: 40vh;
        max-height: 40vh;
    }
    nav {
        display: block;
        position: relative;
        width: 100%;
        height: 3em;
    }

    #menu {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .navbar-toggle-label {
        display: none;
    }

    h1 {
        font-size: 400%;
        padding-top: 60px;
        text-align: center;
    }

    .hero-images .hero-img {
        height: 40vh;
        min-height: 40vh;
    }

    .labels {
        top: 90%;
    }

    /* Owner Section */
    .owner-section{
        flex-direction: row;
        padding: 30px 30px;
        justify-content: space-evenly;
    }

    /* Pricing table */
    table {
        width: 600px;
    }

    /* Footer */
    .footer-logo {
        font-size: 250%;
    }
}

/* Media query: (992px and up) */
@media screen and (min-width: 992px) {

    /* Main */
    #points {
        flex-direction: row;
    }
    
    .sales-point {
        width: 50%;
        padding: 60px;
        margin: 5px;
    }

    /* Move icon back same side */
    .odd {
    flex-direction: row;
    }
    
    #rules {
        flex-flow: row wrap;
    }

    /* Features */
    .feature-segment {
        width: 32%;
    }

    #shop {
        width: 60%;
    }
}

/* Media query: (1200px and up) */
@media screen and (min-width: 1200px) {
    
}