@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');



h1, h2, h3 {
    font-family: "Kdam Thmor Pro", sans-serif;
}

header {
    background: url("../images/empty-gym.jpg") no-repeat center center / cover;
    height: 300px;
}

header h1 {
    text-align: center;
    font-size: 300%;
    color: orange;
    padding-top: 50px;
    text-shadow: 0 0 10px black;
}

nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
}