@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/* General styling */

h1, h2, h3 {
    font-family: "Kdam Thmor Pro", sans-serif;
}

p, a {
    font-family: sans-serif;
}

/* Apply black text shadow */
.blk-textshadow {
    text-shadow: 0 0 10px black;
}

/* Header */

header {
    background: url("../images/empty-gym.jpg") no-repeat center center / cover;
    height: 300px;
}

header h1 {
    text-align: center;
    font-size: 300%;
    color: orange;
    padding-top: 50px;
}

nav {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
    line-height: 3rem;
    height: auto;
}

i {
    color: #ffffff;
}


/* Media query: (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: 100%;
        height: 3em;
    }

    #menu {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 16px;
        font-size: 150%;
        align-items: center;
    }

}